doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
    meta(name="description" content=description)
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-131430135-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131430135-1');
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese")
    link(rel="icon" href="favicon.ico")
    title Uctoth
  body
    noscript
      strong= noscript 

    #app

    svg
      defs
        linearGradient#disc-black(x1="0" y1="0" x2="0" y2="1")
          stop(offset="0" stop-color="#181818")
          stop(offset="1" stop-color="#080808")
        linearGradient#disc-white(x1="0" y1="0" x2="0" y2="1")
          stop(offset="0" stop-color="#ddd")
          stop(offset="1" stop-color="#bbb")
